/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
    background: url("../img/about-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }
  
  #about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #597ed3;
  }
  
  #about h3 {
    font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0px;
      margin-right: 20px;
      color: #fff;
  }
  
  #about .aboutheading{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  
  #about .typing {
    position: relative;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
  }
  
  #about .typing h2 {
    position: relative;
    
    letter-spacing: 5px;
   
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(11) infinite;
  }
  
  @keyframes type {
  
    0%,
    100% {
        width: 0px;
    }
  
    30%,
    60% {
        width: 394.09px;
    }
  }
  
  @media(max-width: 330px) {
    .typing h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }
  
    @keyframes type {
  
        0%,
        100% {
            width: 0px;
        }
  
        30%,
        60% {
            width: 305px;
        }
    }
  }
  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
    text-align: justify;
  
  }
  
  #about .where,.when{
    display: flex;
    align-items: center;
  }
  #about .col-lg-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  @media (min-width: 1024px){
#about {
     background-attachment: fixed; 
}
  }
  @media (max-width: 991px) {
    .col-md-6{
      max-width: 100%;
    }
}